<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Buy Old Parts</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<header>
  <h1>Buy Old Parts</h1>
</header>
<section>
  <p>Here you can explore and purchase quality used spare parts.</p>
</section>
<div>
  <h2>Old Part 1</h2>
  <img th:src="@{/images/second hand steering.jpg}" alt="second hand steering">
  <p>Second hand steering</p>
  <button>Buy Now</button>
</div>
<footer>
  <a href="/service">Back to Services</a>
</footer>
</body>
</html>