<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<h1>Product</h1>
<p>ID: <span th:text="${product.product_id}"></span></p>
<p>Name: <span th:text="${product.product_name}"></span></p>
<p>Brand: <span th:text="${product.product_brand}"></span></p>
<p>Model: <span th:text="${product.product_model}"></span></p>
<p>Year: <span th:text="${product.product_year}"></span></p>
<p>Price: <span th:text="${product.product_price}"></span></p>
<p>Availability: <span th:text="${product.availability ? 'Available' : 'Not Available'}"></span></p>
</body>
</html>