<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<h1>Product List</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Brand</th>
        <th>Model</th>
        <th>Year</th>
        <th>Price</th>
        <th>Availability</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.product_id}"></td>
        <td th:text="${product.product_name}"></td>
        <td th:text="${product.product_brand}"></td>
        <td th:text="${product.product_model}"></td>
        <td th:text="${product.product_year}"></td>
        <td th:text="${product.product_price}"></td>
        <td th:text="${product.availability ? 'Available' : 'Not Available'}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>